#cardMain {
  width: 90%;
}

ul {
  list-style-type: none;
}

.fiche {
  background-color: #e7e7e7;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  height: 364px;
  &__vignette {
    width: 380px;
    height: 178px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  &__title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    &--name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
      font-size: 1em;
      margin: 15px;
    }
    &__time {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      margin: 0 15px;
      &--pic {
        width: 22px;
        padding: 2px;
      }
      &--string {
        font-size: 18px;
        font-weight: 700;
        margin-top: 15px;
      }
    }
  }
  &__recette {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &--texte {
      width: 171px;
      height: 110px;
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      font-size: 0.8em;
    }
    &--ingredient {
      width: 171px;
      font-size: 0.8em;
    }
  }
}
