.filtres {
  width: 90%;
}

.filtre {
  width: 170px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.arrow {
  filter: invert(100%);
}

.filtre input {
  width: 130px;
  background-color: transparent;
  border: none;
  color: white;
}
input:focus {
  outline: none;
}

.ingredient {
  background-color: $ingredientColor;
}

.appareil {
  background-color: $appareilColor;
}

.ustensile {
  background-color: $ustensileColor;
}
