.filtres {
  width: 90%;
  height: 200px;
}

.filtre {
  width: 170px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.item {
  max-width: 500px;
}

#btnFiltre {
  width: 20px;
  right: 5px;
  background-color: transparent;
  filter: invert(100%);
}

.filtre input {
  width: 130px;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: white;
}

input::placeholder {
  color: white;
  font-size: 1.2rem;
}
input:focus {
  outline: none;
}

.ustensileColor {
  background-color: $ustensileColor;
}

.appareilColor {
  background-color: $appareilColor;
}

.ingredientColor {
  background-color: $ingredientColor;
}
