.search {
  width: 90%;

  &__btn {
    width: 70px;
  }
}

.form-control {
  height: 70px;
}

.suggestion {
  margin-bottom: 0;
  padding: 0.5rem;
}

.suggestion:hover {
  background-color: rgba(132, 132, 184, 0.577);
}
